<%- layout('layout/layout') %>
<section style=" display: flex; justify-content: center; align-items: center;">
<div class="card" style="width: 40rem; height: 30rem; display: flex; justify-content: center;">
<form action="/login" method="POST">
	<div class="text-center"><h1>Login</h1></div>
	<div class="form-group p-3">
		<label for="phoneNumber" class="form-label"><b>Phone Number</b></label
		><input
			type="number"
			id="phoneNumber"
			class="form-control"
			name="phoneNumber"
		/>
	</div>
	<div class="form-group p-3">
		<label for="username"><b>Username</b></label
		><input
			type="text"
			id="uername"
			class="form-control"
			name="username"
		/>
	</div>
	<div class="form-group p-3 mb-3">
		<label for="password"><b>Password</b></label
		><input
			type="password"
			id="password"
			class="form-control"
			name="password"
		/>
	</div>
	<button class="btn btn-primary start-50 position-relative translate-middle-x" style="width: 20%;">Continue</button>
</form>
</div>
</section>
