<%- layout('layout/layout') %>
<form action="/login" method="POST">
	<div class="input-group">
		<label for="phoneNumeber" class="form-label">Phone Number</label
		><input
			type="number"
			id="phoneNumber"
			class="form-control"
			name="phoneNumber"
		/>
	</div>
	<div class="form-group">
		<label for="username">username</label
		><input
			type="text"
			id="uername"
			class="form-control"
			name="username"
		/>
	</div>
	<div class="form-group">
		<label for="password">Password</label
		><input
			type="password"
			id="password"
			class="form-control"
			name="password"
		/>
	</div>
	<button>Continue</button>
</form>
