<%- layout('layout/layout') %>
<form action="/register" method="POST">
	<div class="input-group">
		<label for="userName" class="form-label">Username</label>
		<input
			id="userName"
			type="text"
			class="form-control"
			name="username"
			required
		/>
	</div>
	<div class="input-group">
		<label for="phoneNumber" class="form-label">Phone Number</label>
		<input
			id="phoneNumber"
			type="number"
			class="form-control"
			name="phoneNumber"
			required
		/>
	</div>
	<div class="input-group">
		<label for="password" class="form-label">Password</label>
		<input
			type="password"
			class="form-control"
			name="password"
			id="password"
			required
		/>
	</div>
	<button>Continue</button>
</form>
